<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=720, user-scalable=no">
        <meta name="description" content="LET system auto mail">
        <meta name="author" content="minhdl9889@gmail.com">
        <title>LET | Request Username</title>
    </head>

    <body style="font-family: 'Noto Sans CJK KR', sans-serif;">
        <div style="max-width: 700px; border: 1px solid #9b9b9b; margin: 0 auto;">
            <div style="padding: 15px 22px; border-bottom: 1px solid #9b9b9b; background: #eaeaea;">
                <img src="http://let.tramsdev.co.kr/assets/img/logo_mail.png"/>
            </div>
            <div style="padding: 20px;">
                <div style="font-size: 14px; color: #333333; margin-bottom: 15px;">
                    안녕하세요 LET 고객센터입니다.
                    <br/>
                    요청하신 아이디 정보입니다.
                </div>
                <div style="border: 3px solid #bcd9e3; padding: 20px; text-align: center; font-size: 16px; color: #333333; margin-bottom: 15px;">
                    고객님의 아이디는 <a style="color: #009acc; text-decoration: none;">${username}</a> 입니다.
                </div>
                <div style="margin-bottom: 10px; font-size: 12px; color: #777777;">
                    요청하지 않은 메일을 받으셨나요?
                    <br/>
                    요청하지 않았는데 본 메일이 수신되었다면 다른 사용자가 이메일 주소를 잘못 입력했을 수 있으며,이 경우 본 메일을 무시하시면 됩니다.
                </div>
                <div style="font-size: 12px; color: #777777;">
                    LET 고객센터 팀
                </div>
            </div>
        </div>
    </body>
</html>